In [1]:
# -*- coding:utf-8 -*-
# First, we'll import pandas, a data processing and CSV file I/O library
import pandas as pd

# We'll also import seaborn, a Python graphing library
import warnings # current version of seaborn generates a bunch of warnings that we'll ignore
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="white", color_codes=True)

In [2]:
train_avg_time = pd.read_csv('E:\Competetion\KDD-cup-2017\\code\data_pre\\training_20min_avg_travel_time.csv')

In [3]:
train_avg_time.head()

,intersection_id,tollgate_id,time_window,avg_travel_time
0,B,3,"[2016-07-19 00:00:00,2016-07-19 00:20:00)",70.85
1,B,3,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",148.79
2,B,3,"[2016-07-19 01:40:00,2016-07-19 02:00:00)",93.72
3,B,3,"[2016-07-19 02:00:00,2016-07-19 02:20:00)",67.81
4,B,3,"[2016-07-19 02:40:00,2016-07-19 03:00:00)",167.55

In [4]:
path_table5 = 'E:\Competetion\KDD-cup-2017\KDD_OFFICIAL_DATA\dataSets\\training\\trajectories(table 5)_training.csv'

In [5]:
table5 = pd.read_csv(path_table5)

In [6]:
table5.head()

,intersection_id,tollgate_id,vehicle_id,starting_time,travel_seq,travel_time
0,B,3,1065642,2016-07-19 00:14:24,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85
1,B,3,1047198,2016-07-19 00:35:56,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79
2,B,1,1086390,2016-07-19 00:37:15,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76
3,A,2,1071181,2016-07-19 00:37:59,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05
4,B,1,1065807,2016-07-19 00:56:21,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98

In [7]:
travel_seq = table5['travel_seq']

In [104]:
# test code 
import numpy as np
from datetime import datetime,timedelta
import math
test_0=travel_seq[0].split(';')
test_1=travel_seq[1].split(';')
test_2=travel_seq[2].split(';')
all = {}
print test_0
print test_1
print test_2

['105#2016-07-19 00:14:24#9.56', '100#2016-07-19 00:14:34#6.75', '111#2016-07-19 00:14:41#13.00', '103#2016-07-19 00:14:54#7.47', '122#2016-07-19 00:15:02#32.85']
['105#2016-07-19 00:35:56#11.58', '100#2016-07-19 00:36:08#7.44', '111#2016-07-19 00:36:15#16.23', '103#2016-07-19 00:36:32#5.95', '122#2016-07-19 00:36:40#104.79']
['105#2016-07-19 00:37:15#5.26', '100#2016-07-19 00:37:20#2.85', '111#2016-07-19 00:37:23#5.94', '103#2016-07-19 00:37:29#1.13', '116#2016-07-19 00:37:30#10.07', '101#2016-07-19 00:37:40#5.27', '121#2016-07-19 00:37:46#25.51', '106#2016-07-19 00:38:11#3.42', '113#2016-07-19 00:38:15#19.76']

In [100]:
# for every item in travel_seq, use a dict to represent
# 
for i in xrange(len(travel_seq)):
    a = travel_seq[i].split(';')
    for item in a:
        item = item.split('#')
        print item
        path = item[0]
        trace_start_time = item[1]
        travel_time = float(item[2])
        trace_start_time = datetime.strptime(trace_start_time, "%Y-%m-%d %H:%M:%S")
        # time_window_minute must be integer, origin has a bug
        time_window_minute = int(math.floor(trace_start_time.minute / 20) * 20)
        time_window_start = datetime(trace_start_time.year, trace_start_time.month, trace_start_time.day,
                                     trace_start_time.hour, time_window_minute, 0)
        time_window_end = time_window_start + timedelta(minutes=20)
        time_window_index = str(time_window_start) +' '+ str(time_window_end)
        if not all.has_key(path):
            time_window = {}
            time_window[time_window_index] = [travel_time]
            all[path] = time_window
        else:
            if not all[path].has_key(time_window_index):
                all[path][time_window_index] = [travel_time]
            else:
                all[path][time_window_index].append(travel_time)

['105', '2016-07-19 00:14:24', '9.56']
['100', '2016-07-19 00:14:34', '6.75']
['111', '2016-07-19 00:14:41', '13.00']
['103', '2016-07-19 00:14:54', '7.47']
['122', '2016-07-19 00:15:02', '32.85']
['105', '2016-07-19 00:35:56', '11.58']
['100', '2016-07-19 00:36:08', '7.44']
['111', '2016-07-19 00:36:15', '16.23']
['103', '2016-07-19 00:36:32', '5.95']
['122', '2016-07-19 00:36:40', '104.79']
['105', '2016-07-19 00:37:15', '5.26']
['100', '2016-07-19 00:37:20', '2.85']
['111', '2016-07-19 00:37:23', '5.94']
['103', '2016-07-19 00:37:29', '1.13']
['116', '2016-07-19 00:37:30', '10.07']
['101', '2016-07-19 00:37:40', '5.27']
['121', '2016-07-19 00:37:46', '25.51']
['106', '2016-07-19 00:38:11', '3.42']
['113', '2016-07-19 00:38:15', '19.76']

In [101]:
print all

{'121': {'2016-07-19 00:20:00 2016-07-19 00:40:00': [25.51]}, '122': {'2016-07-19 00:20:00 2016-07-19 00:40:00': [104.79], '2016-07-19 00:00:00 2016-07-19 00:20:00': [32.85]}, '116': {'2016-07-19 00:20:00 2016-07-19 00:40:00': [10.07]}, '111': {'2016-07-19 00:20:00 2016-07-19 00:40:00': [16.23, 5.94], '2016-07-19 00:00:00 2016-07-19 00:20:00': [13.0]}, '113': {'2016-07-19 00:20:00 2016-07-19 00:40:00': [19.76]}, '103': {'2016-07-19 00:20:00 2016-07-19 00:40:00': [5.95, 1.13], '2016-07-19 00:00:00 2016-07-19 00:20:00': [7.47]}, '100': {'2016-07-19 00:20:00 2016-07-19 00:40:00': [7.44, 2.85], '2016-07-19 00:00:00 2016-07-19 00:20:00': [6.75]}, '101': {'2016-07-19 00:20:00 2016-07-19 00:40:00': [5.27]}, '106': {'2016-07-19 00:20:00 2016-07-19 00:40:00': [3.42]}, '105': {'2016-07-19 00:20:00 2016-07-19 00:40:00': [11.58, 5.26], '2016-07-19 00:00:00 2016-07-19 00:20:00': [9.56]}}

{'2016-07-19 00:20:00 2016-07-19 00:40:00': [5.95, 1.13], '2016-07-19 00:00:00 2016-07-19 00:20:00': [7.47]}