In [1]:
# -*- coding:utf-8 -*-
# First, we'll import pandas, a data processing and CSV file I/O library
import pandas as pd

# We'll also import seaborn, a Python graphing library
import warnings # current version of seaborn generates a bunch of warnings that we'll ignore
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="white", color_codes=True)

In [11]:
train_avg_time = pd.read_csv('E:\Competetion\KDD-cup-2017\\code\data_pre\\training_20min_avg_travel_time.csv')

In [12]:
train_avg_time.head()

,intersection_id,tollgate_id,time_window,avg_travel_time
0,B,3,"[2016-07-19 00:00:00,2016-07-19 00:20:00)",70.85
1,B,3,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",148.79
2,B,3,"[2016-07-19 01:40:00,2016-07-19 02:00:00)",93.72
3,B,3,"[2016-07-19 02:00:00,2016-07-19 02:20:00)",67.81
4,B,3,"[2016-07-19 02:40:00,2016-07-19 03:00:00)",167.55

In [22]:
train_avg_time['Day']=pd.Series()

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
         ..
25114   NaN
25115   NaN
25116   NaN
25117   NaN
25118   NaN
25119   NaN
25120   NaN
25121   NaN
25122   NaN
25123   NaN
25124   NaN
25125   NaN
25126   NaN
25127   NaN
25128   NaN
25129   NaN
25130   NaN
25131   NaN
25132   NaN
25133   NaN
25134   NaN
25135   NaN
25136   NaN
25137   NaN
25138   NaN
25139   NaN
25140   NaN
25141   NaN
25142   NaN
25143   NaN
Name: Day, dtype: float64